<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="deviceConnectionString" value="HostName=Uczelnia-Zajecia.azure-devices.net;DeviceId=Device_test;SharedAccessKey=NpE3SJIrdSphmNeEZyU5ZNIGh6hG0tn3oAIoTGnPtco=" />
		<add key="OPCclient" value="opc.tcp://localhost:4840/" />
		<add key="registryManager" value="HostName=Uczelnia-Zajecia.azure-devices.net;SharedAccessKeyName=iothubowner;SharedAccessKey=gEkhKZ4eq2jMwDecCXFbtAqfjh49wQRhDAIoTFmWzsQ=" />
		<add key="sbConnectionString" value="Endpoint=sb://servicebusproject.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=UvfL+IFASe542tBJI3lNRFw0jJRe/qUnl+ASbPabuYE=" />
		<add key="IOTHubName" value="Device_test" />
	</appSettings>
</configuration>